<a href="https://colab.research.google.com/github/mandresblanco/tests_/blob/main/3_save_and_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%cd'/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
'3 save and load.ipynb'
 Bayes.ipynb
 classifier.ipynb
 Clustering_problem.ipynb
'Copy of 3 - Funciones dentro de otras funciones.ipynb'
'Copy of [Clase10]Estimacion_densidad_probabilidad.ipynb'
'Copy of [Clase14]Regresión_Logística.ipynb'
'Copy of [Clase9]Distribucion_normal.ipynb'
'Copy of [Lecturas-11-12]MLE.ipynb'
'Copy of [Lecturas-9-10]DistribucionesDeProbabilidadContinuas.ipynb'
 linarregression1.ipynb
 linearRegression.ipynb
 Logistic_regression.ipynb
 MLE.ipynb
 Pandas
 problem5_2.ipynb
 Problem5_3.ipynb
 Problem5_4.ipynb
 Regression.ipynb
 Superstore_1.ipynb
 superstore.ipynb
 Untitled0.ipynb
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled3.ipynb

In [7]:
'hola {}'.format('mundo')

'hola mundo'

In [13]:
!mkdir db

In [14]:
dir_pandas='/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')

In [15]:
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [16]:
pd.__version__

'1.1.5'

In [18]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [21]:
df= pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [26]:
df.to_csv(dir_pandas,index=False)

In [27]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db

test.csv

In [36]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [34]:
df.to_csv(dir_pandas,sep='|',index=False)

In [ ]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv',sep='|')
df_read