<a href="https://colab.research.google.com/github/mandresblanco/tests_/blob/main/7_multi_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%cd '/content/drive/My Drive/Colab Notebooks/db' 
!ls

/content/drive/My Drive/Colab Notebooks/db
london_merged.csv	poblacion.csv  test.hdf   test.paquet	test.pkl
Meteorite_Landings.csv	test.csv       test.json  test.parquet	test.xlsx

In [14]:
pd.options.display.float_format='{:,.1f}'.format
df_pop = pd.read_csv('poblacion.csv')
df_pop

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]

In [15]:
df_pop['year']=pd.Categorical(df_pop['year'].apply(str))

In [16]:
df_pop.dtypes

Country      object
year       category
pop         float64
dtype: object

In [18]:
idx_filtro=df_pop['Country'].isin(['Aruba', 'Colombia'])
idx_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [19]:
df_sample = df_pop[idx_filtro]
df_sample

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0
562  Colombia  2017 48,901,066.0
789     Aruba  2018    105,845.0
822  Colombia  2018 49,648,685.0

In [20]:
df_sample.set_index(['Country','year'])

                       pop
Country  year
Aruba    2015    104,341.0
Colombia 2015 47,520,667.0
Aruba    2016    104,872.0
Colombia 2016 48,171,392.0
Aruba    2017    105,366.0
Colombia 2017 48,901,066.0
Aruba    2018    105,845.0
Colombia 2018 49,648,685.0

In [23]:
df_sample = df_sample.set_index(['Country','year']).sort_index()
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [24]:
df_sample.loc['Colombia']

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [28]:
df_sample.loc['Colombia'].loc['2016',:]

pop   48,171,392.0
Name: 2016, dtype: float64

In [31]:
df_sample.xs(['Colombia','2018'])

pop   49,648,685.0
Name: (Colombia, 2018), dtype: float64

In [32]:
df_sample.xs('2016',level='year')

                  pop
Country
Aruba       104,872.0
Colombia 48,171,392.0

In [43]:
df_pob = pd.read_csv('poblacion.csv', header=2)
df_countries = df_pop.set_index(['Country','year']).sort_index(ascending=[True,True])
df_countries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

In [45]:

ids = pd.IndexSlice
df_countries.loc[ids['Aruba':'Austria','2015':'2017'],:].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

In [48]:
df_countries.index.get_level_values(0)
df_countries.index.get_level_values(1)

CategoricalIndex(['2015', '2016', '2017', '2018', '2015', '2016', '2017',
                  '2018', '2015', '2016',
                  ...
                  '2017', '2018', '2015', '2016', '2017', '2018', '2015',
                  '2016', '2017', '2018'],
                 categories=['2015', '2016', '2017', '2018'], ordered=False, name='year', dtype='category', length=1040)

In [50]:
df_countries['pop']['Colombia']['2018']

49648685.0

In [51]:
df_countries.sum(level='year')

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

In [52]:
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [54]:
df_sample.unstack('year')

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0

In [55]:
df_sample.unstack('Country')

              pop
Country     Aruba     Colombia
year
2015    104,341.0 47,520,667.0
2016    104,872.0 48,171,392.0
2017    105,366.0 48,901,066.0
2018    105,845.0 49,648,685.0